<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ygn_logo_2"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.YGNStoreManagement"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name=".Activities.ReportActivities.GeneralReportActivities.ReportCashProceedByClientDetailActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.DialogActivities.SalesAmountDialogActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.SalesActivities.SalesActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.ReportActivities.GeneralReportActivities.ReportItemInformationActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.MainActivities.LoginActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.ReportActivities.PurchasingReports.ReportPurchasingDetailByClientDetail"
            android:exported="false" />
        <activity
            android:name=".Activities.ReportActivities.GeneralReportActivities.ReportOrderFilterByDateActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.ReportActivities.GeneralReportActivities.ReportGeneralSalesAndPurchasing"
            android:exported="false" />
        <activity
            android:name=".Activities.ReportActivities.SalesReports.ReportSalesDetailByClientDetail"
            android:exported="false" />
        <activity
            android:name=".Activities.SalesActivities.SalesDetailActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.DialogActivities.ProductSelectionDialogActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.DialogActivities.ClientSelectionDialogActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.MainActivities.MainCardViewActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.PurchasingActivities.PurchasingDetailActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.ReportActivities.GeneralReportActivities.ReportStockAmountActivity"
            android:exported="false" />
        <activity android:name=".Activities.MainActivities.SettingActivity" />
        <activity
            android:name=".Activities.SplashActivities.LoginSplashActivity"
            android:exported="true"
            android:theme="@style/Theme.Design.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>